<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletUsr</servlet-name>
        <servlet-class>Serlvets.ServletUsr</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Serlvets.ServletLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComboUsuarios</servlet-name>
        <servlet-class>Serlvets.ComboArtistas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAutenticar</servlet-name>
        <servlet-class>Serlvets.ServletAutenticacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletSeguirUsuario</servlet-name>
        <servlet-class>Serlvets.ServletSeguirUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletCliente</servlet-name>
        <servlet-class>Serlvets.ServletCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletImagenes</servlet-name>
        <servlet-class>Serlvets.Servletimagenes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletAlbum</servlet-name>
        <servlet-class>Serlvets.ServletAlbum</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletUsr</servlet-name>
        <url-pattern>/usuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComboUsuarios</servlet-name>
        <url-pattern>/cboArtistas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAutenticar</servlet-name>
        <url-pattern>/autenticar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletSeguirUsuario</servlet-name>
        <url-pattern>/seguirUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletCliente</servlet-name>
        <url-pattern>/cliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletImagenes</servlet-name>
        <url-pattern>/imagenes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletAlbum</servlet-name>
        <url-pattern>/Album</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>ppal.jsp</welcome-file>
    </welcome-file-list>
</web-app>
